.website {
    margin: 5rem 0 5rem 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}


.website article {
    flex: 1;
    padding: 1rem;
    border: 1px solid #e1f5fe;
}

.website p {
    text-align: left;
    line-height: 1.5;
    font-size: 1.1rem;
}

.website .article2 svg {
    transform: rotate(0);
    transition: 1s;
}

.website .article2 svg:hover {
    transform: rotate(360deg);
}

section.website + h3 {
    font-size: 3rem;
    text-align: center;
}

.section5 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    margin-bottom: 3rem;
    height: 100%;
}

.section5 > img {
    position: absolute;
    width: 90%;
    height: 110vh;
    opacity: 0.15;
    z-index: -1;
    top: -50%;
}

.section5 .text {
    margin-top: 2rem;
}


.section5 ul {
    padding: 1rem;
    width: 300px;
    border-radius: 10px;
}

.section5 li {
    background-color: #E1F1F1;
    margin: 0.7rem;
    padding: 1rem;
    list-style: none;
    border-radius: 20px;
    font-weight: 400;
    text-align: center;
    border: 1px solid blue;
    font-size: 1.4rem;

}

.section5 li:nth-of-type(6) {
    font-size: 2rem;
    border: 1px solid black;
}

.section5 li:nth-of-type(6) {
    background-color: #fce4ec;
}

.section5 + hr {
    width: 80%;
    margin: 4rem auto 2rem;
}


.section7 h2 {
    font-size: 4rem;
    text-align: center;
}

.section7 video {
    max-width: 400px;
    width: 100%;
    display: block;
    margin: 1rem auto;
}
.section8 .developer {
    display: flex;
    flex-wrap: wrap;
}

.section8 .dev {
    flex: 1;
    padding: 0 0.5rem;
}

.section8 .hosting{
    background-color: #001825;
    display: flex;
    margin-top: 3rem;

}

.section8 .hosting h3 {
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem 0 2rem 0;
}

.section8 .hosting p {
    padding: 0 1rem 0 1rem;
}

.section8 > img {
    max-width: 500px;
    margin: 0 auto;
}

.section8 .hostingText {
    color: #f1f1f1;
    max-width: 800px;
    margin: 0 auto;
    background: #001825 ;
    width: 100%;
}

.section8 .article5 {
    width: 90%;
    margin: 1rem auto;
    max-width: 800px;
}

.section8 .article6 h3 {
    text-align: center;
    font-size: 1.6rem;
}

.section8 .article6 p{
    font-size: 1.4rem;
}

.performance {
    margin-top: 5rem;
}

.performance > .intro {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
}

.performance > .intro > h2 {
    font-size: clamp(1.5rem, 5vw, 4rem);
    margin-bottom: 2rem;
    text-align: center;
}

.performance > .intro > p {
    font-size: clamp(1rem, 4vw, 1.4rem);
    line-height: 2rem;
}
.performance > .responsive {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
}

.performance > .responsive > h2 {
    font-size: clamp(1.5rem, 5vw, 4rem);
    margin-bottom: 2rem;
    text-align: center;
}

.performance > .responsive > p {
    font-size: clamp(1rem, 4vw, 1.4rem);
    line-height: 2rem;
}
.performance > .speed {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
}

.performance > .speed > h2 {
    font-size: clamp(1.5rem, 5vw, 4rem);
    margin-bottom: 2rem;
    text-align: center;
}

.performance > .speed > p {
    font-size: clamp(1rem, 4vw, 1.4rem);
    line-height: 2rem;
}

.performance > .speed > ul >li {
    list-style: none;
}

.performance > .seo {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
}

.performance > .seo > h2 {
    font-size: clamp(1.5rem, 5vw, 4rem);
    margin-bottom: 2rem;
    text-align: center;
}

.performance > .seo > p {
    font-size: clamp(1rem, 4vw, 1.4rem);
    line-height: 2rem;
}

.performance > .seo > ul >li {
    list-style: none;
}

.building {
    margin-top: 5rem;
}

.building h2 {
    font-size: clamp(1.5rem, 6vw, 4rem);
    text-align: center;
    margin-bottom: 2vw;
}

.building img {
    display: block;
    margin: 0 auto;
    max-width: 800px;
}

.building > p:nth-of-type(1) {
    text-align: center;
    margin: 5rem auto;
    font-weight: 600;
    font-size: clamp(1.5rem, 5vw, 3rem);
    max-width: 900px;
    padding: 1rem;
}


@media screen and (max-width: 800px) {
    section.website {
        flex-direction: column;
        text-align: center;
    }

    .website article {
        border: none;
    }

    .website p {
        max-width: 700px;
        margin: 0 auto;
       
    }

    .section5 {
        flex-direction: column;
    }

    .section5 > img {
        width: 100%;
        top: -40%;
        

    }

    .section5 article {
        margin: 0 auto;
    }

    .section5 .text {
        padding: 0 1rem;
    }

    .section8 .developer {
        flex-direction: column;
    }

    .section8 .dev p{
        margin-left: 1rem;
        border-left: 8px solid orange;
        padding: 1rem 2rem;
    }

    .section8 .hosting {
        flex-direction: column;
    }

    .section8 .hosting img {
        width: 100%;
    }


}


#cool1 {
    padding: 4rem;
    border-radius: 10px;
    font-size: clamp(1.5rem, 4vw, 2.6rem);
    font-style: italic;
    line-height: 4vw;
}